@charset "UTF-8";
@font-face {
    font-family: boge;
    src: url(Font/Boge.ttf) format(truetype);
}

*{
    padding: 0px;
    margin: 0px;
}
/*----------------------------------------------------------------------cabeça do Site-----------------------------------------------*/
header {
    padding: 0.1px;
    background-image: linear-gradient(black, black, rgb(0, 0, 0));
}

.Titulo {
    text-decoration: none;
    color: #ffb81c;
    font-family: boge;
    text-align: center;     
    font-size: 100px;
    margin-bottom: -10px;
}

.slogan{ font-family: boge;
    color: #ffb81c;
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
    margin-bottom: 20px;
}

nav {
    margin-left: 5px;
    text-align: center;
    padding: 20px;
}

.carrinho{
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: -15px;
}

.carrinho:hover{
    background-color: blueviolet;
}

nav a:hover {
    color: blueviolet;
}

.itens {
    margin-bottom: 10px;
    margin-left: 12px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-size: 30px;
    padding: 10px;
    
}
/*---------------------------------------------------Home-------------------------------------------------------------------------------*/
body {
    background-position: right 80%;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-image: url(img/wallpaper.jpg)  
}

.home {
    max-width: 100%;
    min-width: 320px;
    margin-top: 20px;
}

.parallax-img-xbox {
    background-image: url(img/halo.jpg);
    background-size: cover;
    width: 60%;
    background-position: center c;
    background-attachment: fixed;
    height: 600px;
    margin: auto;
}

.parallax-img-nintendo {
    background-image: url(img/mario.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 600px;
    width: 60%;
    margin: auto;
}

.parallax-img-sony {
    background-image: url(img/Crash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 600px;
    margin: auto;
    width: 60%;
}

.parallax-text {
    margin-right: auto;
    width: 300px;
    height: 580px;
    text-align: justify;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 10px;
    margin: 0px;
}
/*--------------------------------------------------------------------Consoles------------------------------------------------------*/
.console{
    display: inline-block;
    background-color: white;
    max-width: 900px;
    min-width: 320px;
    margin-left: 300px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
.img{
    border: black solid 2px;
}















/*--------------------------------------------------Tabela----------------------------------------------------------------------------*/

.tabelas{
    margin-left: 5px;
}
.tabeladiv{
    display: inline-block;
    width: 33%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.705);
}

td:hover{
    background-color: rgba(4, 67, 240, 0.267);
}

caption{
    border-radius: 2px;
    background-color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: left bottom;
}

.play,tfoot{
    font-size: 1.2em;
    font-variant: small-caps;
    background-color: #00aaff;
}

.xbox,tfoot{
font-size: 1.2em;
font-variant: small-caps;
background-color: #00dd00;
}

.nintendo,tfoot{
    font-size: 1.2em;
    font-variant: small-caps;
    background-color: #dd2100;
}

thead > th {
    position: sticky;
    top:0;
    background-color: #00dd00;
}

th,td{
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

tbody>tr:nth-child(even) {
    background-color: lightgray;
}
/*--------------------------------------------------------cadastro---------------------------------------------------------------------*/
.cadastro {
    background-color: #ffffff;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.input {
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #c0c0c0;
}
.inputdate{
    background-color: #c0c0c0;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
}
select{
    border-radius: 5px;
    background-color: #c0c0c0;
    padding: 5px;
}
textarea {
    width: 100%;
    background-color: #c0c0c0;
    height: 150px;
    border-radius: 5px;
}

.radio{
    padding: 10px;
}

.bottons {
    margin-left: 700px;
    display: inline-block;
    columns: 2;
}

.buttonY{
    border-radius: 5px;
    background-color:#c0c0c0;
    padding: 5px;
}

.buttonC{
    padding: 5px;
    border-radius: 5px;
    background-color: #c0c0c0;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}