@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    
}

body{
    background-image: url(wal1.png);
}

header{
    text-align: center;
}

li{
    display: inline-block;
    padding: 10px 20px;
}

main {
    margin: auto;
    width: 60%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 10px;
}

.paralax{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(OIP1.jfif);
    width: 100%;
}

.paragrafe{
    border-radius: 5px;
    width: 300px;    
    background: rgba(0, 0, 0, 0.568);
    color: white;
    text-align: justify;
    font-size: 20px;
}

a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(121, 10, 247);
}

a{
    text-decoration: none;
}
