@charset "UTF-8";

*/ {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 98.5vw;
    height: 98.5vh;
}

body{
    position: relative;
    background-image: url(Imagens/imagens/fundo-madeira.jpg);
    background-size: cover;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    height: 640px;
    width: 317px;
    background-image: url(Imagens/imagens/frame-iphone.png);
}

div{
    float: right;
    width: 65px;
    height: 700px;
}

section{
    
    width: 275px;
    height: 481px;
    margin-top: 70px;
    margin-left: 22px;
}

.img{
    border-radius: 50%;
    width: 50px;
    margin: 5px;
}

iframe{
    height: 489px;
    width: 276px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img{
width: 100%;
}

.pagface{
    background-image: none;
}